<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Value')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-value" class="form-control" name="row[value]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zh')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zh" class="form-control" name="row[zh]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('En')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-en" class="form-control" name="row[en]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cht')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cht" class="form-control" name="row[cht]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ara')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ara" class="form-control" name="row[ara]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Fra')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-fra" class="form-control" name="row[fra]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('De')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-de" class="form-control" name="row[de]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Hi')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-hi" class="form-control" name="row[hi]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('It')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-it" class="form-control" name="row[it]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Jp')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-jp" class="form-control" name="row[jp]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Kor')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-kor" class="form-control" name="row[kor]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Per')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-per" class="form-control" name="row[per]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pl')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pl" class="form-control" name="row[pl]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pt')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pt" class="form-control" name="row[pt]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ru')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ru" class="form-control" name="row[ru]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Spa')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-spa" class="form-control" name="row[spa]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Th')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-th" class="form-control" name="row[th]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tr')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tr" class="form-control" name="row[tr]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Vie')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-vie" class="form-control" name="row[vie]" type="text">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
